* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #909090;
}

#control-up {
    display: flex;
    align-items: center;
}

.col-2 {
    margin: 0px 40px;
}

.col-2 p {
    margin: 0px 0px;
}

#grid {
    background-color: white;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cell {
    border-style: solid;
    flex: 0 0 auto;
}