* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grid {
    /* height: 512px;
    width: 512px; */
    background-color: silver;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}